# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/
*.iml

# macOS
.DS_Store

# pytest
.pytest_cache/

# coverage
.coverage
htmlcov/

# Playwright
playwright-report/
test-results/

# mypy
.mypy_cache/

# VS Code (если вдруг)
.vscode/

allure-report/