# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: QA Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: 
    inputs:
        ALLURE_JOB_RUN_ID:
          description: "Service parameter from TestOps"
          required: false
        ALLURE_USERNAME:
          description: "Service parameter from TestOps"
          required: false

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      checks: write

    strategy:  
      fail-fast: false
      matrix:
        python-version: ["3.13"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Poetry
      run: |
        curl -sSL https://install.python-poetry.org | python3 -
        echo "$HOME/.local/bin" >> $GITHUB_PATH 

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        poetry install
        # python -m pip install flake8 pytest
        # pip install tox
        # if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Ensure browsers are installed
      # run: python -m playwright install --with-deps
      run: poetry run playwright install --with-deps
      
    - name: Install allurectl
      run: |
        curl -L https://github.com/allure-framework/allurectl/releases/latest/download/allurectl_linux_amd64 -o allurectl
        chmod +x allurectl
        sudo mv allurectl /usr/local/bin/allurectl
        
    - name: Run tests with Allure
      env:
        ALLURE_JOB_RUN_ID: ${{ github.event.inputs.ALLURE_JOB_RUN_ID }}
        ALLURE_USERNAME: ${{ github.event.inputs.ALLURE_USERNAME }}
      run: |
        allurectl watch --results allure-results \
          --endpoint=${{ vars.ALLURE_ENDPOINT }} \
          --token=${{ secrets.ALLURE_TOKEN }} \
          --project-id=${{ vars.ALLURE_PROJECT_ID }} \
          -- poetry run pytest --alluredir=allure-results






    # - name: Run selenium pytests
    #   run: |
    #     pytest tests/functional_tests/demo_test.py --doctest-modules --junitxml=junit/test-results-selenium-${{ matrix.python-version }}.xml
     
    # - name: Run playwright pytests
    #   run: |
    #     pytest tests/functional_tests/playwright_demo_test.py --doctest-modules --junitxml=junit/test-results-playwright-${{ matrix.python-version }}.xml

#    - name: Upload pytest test results
#      uses: actions/upload-artifact@v3
#      with:
#        name: pytest-results-${{ matrix.python-version }}
#        path: junit/test-results-${{ matrix.python-version }}.xml
#      # Use always() to always run this step to publish test results when there are test failures
#      if: ${{ always() }}
    # - name: Test Results Selenium
    #   uses: dorny/test-reporter@v1
    #   if: success() || failure()    # run this step even if previous step failed
    #   with:
    #     name: UI tests selenium            # Name of the check run which will be created
    #     path: junit/test-results-selenium-${{ matrix.python-version }}.xml    # Path to test results
    #     reporter: java-junit        # Format of test results

    # - name: Test Resultsuses Playwright
    #   uses: dorny/test-reporter@v1
    #   if: success() || failure()    # run this step even if previous step failed
    #   with:
    #     name: UI tests playwright            # Name of the check run which will be created
    #     path: junit/test-results-playwright-${{ matrix.python-version }}.xml    # Path to test results
    #     reporter: java-junit        # Format of test results
